.tab-button {
    background-color: lightpink;
    padding: 10px;
    border: none;
    outline: none;
    margin: 1px;
}

#tabs {
    background-color: bisque;
    border: 1px solid darkgreen;
}

.tab-content {
    border-right: 1px solid darkgreen;
    border-left: 1px solid darkgreen;
    border-bottom: 1px solid darkgreen;
    padding: 10px;
}

.tab-button:hover {
    background-color: aquamarine;
}

.tab-button.active {
    background-color: cadetblue;
}